.content {
	display: grid;
	justify-content: center;
	min-height: 65vh;
	margin: 5rem auto;
	max-width: 120rem;

	@include respond(tab-land) {
		//padding: 0 10vw;
	}

	@include respond(tab-port) {
		//padding: 0 5vw;
	}

	@include respond(phone) {
		padding: 0 2rem;
		margin: 2rem auto 4rem;
	}
}