.header {
	position: sticky;
	top: 0;
	background-color: $color-white;
	padding: 2rem 3rem 0;
	z-index: $header-z-index;

	&__top {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: end;
		align-items: stretch;
	}

	&__logo {
		font-size: 2.4rem;

		svg {
			height: 2rem;
			margin-right: .7rem;
		}
	}

	&__social-media {
		justify-self: center;
		display: flex;
		gap: 3rem;

		svg {
			height: 1.5rem;
		}
	}

	&__icons {
		justify-self: end;
		display: flex;
		gap: 1.3rem;

		.cart-btn {
			position: relative;
		}

		.products-in-cart {
			position: absolute;
			right: 0;
			bottom: 0;
			transform: translateX(.5rem);
			display: grid;
			align-items: center;
			justify-content: center;
			min-width: 2rem;
			min-height: 2rem;
			padding: .4rem .6rem;
			background-color: $color-dark;
			color: $color-white;
			border-radius: 3rem;
			font-size: 1.2rem;
			line-height: .5;
		}
	}
}