.cart-item {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	margin: 0 4rem;
	padding: 3rem 0;
	border-bottom: 1px solid $color-grey-light;
	position: relative;

	@include respond(phone) {
		flex-direction: column;
		margin: 0 2.5rem;
	}

	&__image {
		height: 7rem;
		width: 7rem;
		overflow: hidden;
		border-radius: $border-radius-big;
	}

	&__info {
		flex-grow: 1;

		label {
			color: $color-grey-dark;
		}
	}

	&__name {
		font-size: 2.5rem;
		line-height: 1.2;
	}

	&__color {
		display: inline-block;
		width: 1.6rem;
		height: 1.6rem;
		border-radius: $border-radius-tiny;
	}

	.btn {
		font-size: 2.5rem;
		width: 3rem;
		height: 3rem;
		padding: 0;
		border-radius: $border-radius-big;
		color: $color-grey-medium;

		&.xs {
			width: 3rem;
			height: 3rem;
			font-size: 1.5rem;
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		color: $color-grey-medium;
	}

	&__quantity {
		min-width: 3rem;
		text-align: center;
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: end;
		min-width: 13rem;
		font-size: 2.5rem;
		text-align: right;

		@include respond(phone) {
			position: absolute;
			bottom: 3rem;
			right: 0;
		}
	}

	&__remove {
		display: flex;
		align-items: center;
		justify-content: end;

		@include respond(phone) {
			position: absolute;
			top: 3rem;
			right: 0;
		}
	}

}