.cart-item {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	margin: 0 4rem;
	padding: 3rem 0;
	border-bottom: 1px solid $color-grey-light;

	&__image {
		height: 7rem;
		width: 7rem;
		overflow: hidden;
		border-radius: $border-radius-big;
		align-content: start;
	}

	&__info {
		flex-grow: 1;

		label {
			color: $color-grey-dark;
		}
	}

	&__name {
		font-size: 3rem;
		line-height: 1.2;
	}

	&__color {
		display: inline-block;
		width: 1.6rem;
		height: 1.6rem;
		border-radius: $border-radius-tiny;
	}

	.btn {
		font-size: 3rem;
		width: 4rem;
		height: 4rem;
		padding: 0;
		border-radius: $border-radius-big;
		color: $color-grey-medium;

		&.xs {
			width: 3rem;
			height: 3rem;
			font-size: 1.5rem;
		}
	}

	&__controls {
		display: flex;
		gap: 1rem;
		align-items: center;
		color: $color-grey-medium;
	}

	&__quantity {
		min-width: 3rem;
		text-align: center;
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: end;
		min-width: 16rem;
		font-size: 3rem;
		text-align: right;
	}

	&__remove {
		display: flex;
		align-items: center;
		justify-content: end;
	}

}