.card {
	position: relative;
	transition: $transition-main;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: $color-white;
	border: 17px solid transparent;
	border-radius: $border-radius-big;

	&:hover {
		box-shadow: 0 0 5px $color-grey-light;

		.card__info {
			transform: translateY(-5rem);
		}
		.card__cta {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 3rem);
		}
	}


	&__image {
	}

	&__info {
		align-self: stretch;

		padding: 1rem 0 0;
		display: grid;
		align-items: stretch;
		background-color: $color-white;
		transition: $transition-main;
	}

	&__price {
		align-self: end;
		font-size: 1.4rem;
		font-weight: 600;
	}

	&__title {
		font-size: 1.6rem;
	}

	&__cta {
		position: absolute;
		bottom: -2rem;
		left: 0;
		transform: translate(0, 0);
		opacity: 0;
		visibility: hidden;
		transition: $transition-main;
		transition-delay: .2s;
	}
}