.form {

	& .add-review-form {
		display: grid;
		gap: 1rem;
		margin: 3rem 0 5rem;

		& .btn {
			justify-self: end;
		}
	}

	& .cols {
		display: flex;
		gap: 2rem;

		@include respond(phone) {
			flex-direction: column;
			gap: 0;
		}
	}

	& .form-control {
		display: grid;
		flex-grow: 1;
		align-content: start;
		margin-bottom: 2rem;
		height: auto;

		@include respond(phone) {
			min-height: auto;
			margin-bottom: 1rem;
		}

		& input, textarea {
			padding: 1.3rem 2rem;
			border: 1px solid $color-grey-light;
			border-radius: $border-radius-big;

			&::placeholder {
				color: $color-grey-medium;
			}

			@include respond(phone) {
				padding: 1.3rem;
			}
		}
	}
}