.product {
	&__data{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
		background-color: $color-white;
		border-radius: $border-radius-big;
		padding: 3rem 4rem;
	}
}

.product-info {

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: start;

		// add to favourites btn
		img {
			height: 4rem;
		}
	}

	.name {
		line-height: 1.2;
	}
}