.product {
	&__data,
	&__reviews {
		background-color: $color-white;
		border-radius: $border-radius-big;
		padding: 3rem 4rem;

		@include respond(phone) {
			padding: 2rem;
		}
	}

	&__data {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;

		@include respond(phone) {
			grid-template-columns: none;
		}
	}

	&__reviews {
		margin-top: 3rem;
	}


	& .product-header {
		grid-column: 2 / 3;

		@include respond(phone) {
			grid-column: unset;
		}

		&__top {
			display: flex;
			justify-content: space-between;
			align-items: start;
		}

		// add to favourites btn
		img {
			height: 4rem;
		}

		.name {
		}

		&__rating {
			display: flex;
			align-items: start;
		}

		&__reviews-count {
			margin-left: 1rem;
		}

	}


	& .product-info {
		display: flex;
		flex-direction: column;
		align-content: start;
		gap: 1rem;

		&__options {
			display: flex;
			justify-content: space-between;

			& .colors {
				&__header {
				}

				&__options {
					display: flex;
					gap: .8rem;
					margin-top: 1rem;
				}

				& .color-option {
					width: 2.4rem;
					height: 2.4rem;
					border-radius: $border-radius-small;

					&:hover {
						cursor: pointer;
					}

					&.selected {
						position: relative;

						&:after {
							content: '';
							position: absolute;
							top: -.3rem;
							left: -.3rem;
							width: 3rem;
							height: 3rem;
							border-radius: $border-radius-small;
							border: 1px solid $color-dark;
						}
					}
				}
			}
		}

		&__footer {
			flex-grow: 1;

			display: flex;
			align-items: end;
			gap: 3rem;
			justify-content: space-between;

			@include respond(phone) {
				margin-top: 4rem;
				display: initial;
			}
		}

		&__price {
			font-size: 2.4rem;
		}

		&__cta {
			display: flex;
			gap: 1rem;
			justify-items: end;

			@include respond(phone) {
				margin-top: 2rem;

				button {
					flex-grow: 1;
				}
			}
		}

	}

	& .reviews {
		display: grid;
		gap: 1rem;
	}

	& .review-card {
		padding: 2rem;
		background-color: $color-grey-light;
		border-radius: $border-radius-big;
		color: $color-grey-dark;

		&__author {
			font-size: 2.4rem;

			@include respond(phone) {
				font-size: 1.8rem;
			}
		}
	}
}


