.shop-page {
	display: grid;
	grid-template-columns: 1fr 6fr;
	background-color: $color-white;

	@include respond(phone) {
		grid-template-columns: 1fr;
	}

	&__filters {
		padding: 2rem;

		@include respond(phone) {
			padding: 1rem 2rem 0;
		}
	}

	&__products {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: .2rem;
		justify-content: center;
		border-radius: $border-radius-big;
		padding: 2rem;

		@include respond(tab-port) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include respond(phone) {
			grid-template-columns: 1fr;
		}
	}


}